<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Header</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="../pages/dashboard.html">Home</a></li>
                <li><a href="../pages/uploadNotes.html">View Notes</a></li>
            </ul>
            <ul class="profile">
                <!-- <li><i class="fa-solid fa-user"></i></li> -->
                <li><button class="loginBtn" onclick="login()">Login In</button></li>
            </ul>
        </nav>
    </header>
    <script type="module" src="../JS/headerValidate.js"></script>
</body>

</html>