<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <title>Header</title>
</head>
<body>
     <header>
        <nav>
            <ul>
                <li><button class="navlinks"><i class="fa fa-moon"></i></button></li>
                <li><button class="navlinks"><i class="fa-solid fa-user"></i></button></li>
            </ul>
        </nav>
    </header>
</body>
</html>